<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>875138299711-3iaeilsjnsf2460d25i4oru8lchje31q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875138299711-3iaeilsjnsf2460d25i4oru8lchje31q</string>
	<key>API_KEY</key>
	<string>AIzaSyDL8qiJ4ZzGcO-bHFdONDz-eUUlmzOt9Hg</string>
	<key>GCM_SENDER_ID</key>
	<string>875138299711</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>askar.ulubayev.MyChatProject</string>
	<key>PROJECT_ID</key>
	<string>mychatproject-ce134</string>
	<key>STORAGE_BUCKET</key>
	<string>mychatproject-ce134.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875138299711:ios:d46ef6c11bd7d22b</string>
	<key>DATABASE_URL</key>
	<string>https://mychatproject-ce134.firebaseio.com</string>
</dict>
</plist>